@import '../../styles/variables';
@import '../../styles/animations';

.heading {
  // font-size: 5.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin: 2rem;

  // background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
  -webkit-background-clip: text;
  color: $color-primary-dark;
  letter-spacing: .2rem;
  transition: all .2s;
  animation: moveInLeft 3s ease-out;

  // @include respond(tab-port) {
  //   font-size: 3rem;
  // }
  //
  // @include respond(phone) {
  //   font-size: 2.5rem;
  // }

  &:hover {
    transform: translateY(-.2rem) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.container {
  margin: 2rem;
}
