// Colors

$color-primary-light: #d9e1e8;
$color-primary: #9baec8;
$color-primary-dark: #282c37;

$color-secondary: #2b90d9;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #777;
$color-grey-light: #eee;



// font

$default-font-size: 1.6rem;

// Shadow

$regular-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
$high-box-shadow: 0 3rem 5rem rgba($color-black, .4);
