/*
0 - 600px: Phone
600 - 900px:  Tablet Portrait
900 - 1200px: Tablet Landscape
[1200 - 1800px]:  Is where our styles apply
1800px +:  Big Desktop

Breakpoints arguments choices:

- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
.main {
  border-radius: 3px;
  overflow: hidden; }
  .main__content {
    margin: 2rem 0;
    border-radius: 3px;
    overflow: hidden; }
  .main__filterGrid {
    height: 10rem;
    background-color: #2b90d9;
    margin-bottom: 1rem; }
    @media (min-width: 64em) {
      .main__filterGrid {
        margin-bottom: 0; } }
  .main__productsGrid {
    padding: 1rem; }
