@import '../../styles/variables';
@import '../../styles/mixins';


.cartItem {
  box-shadow: $regular-box-shadow;
  transition: transform .3s;

  &:hover {
    transform: translateY(-.5rem) scale(1.03);
  }

  &__label {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
