/*
0 - 600px: Phone
600 - 900px:  Tablet Portrait
900 - 1200px: Tablet Landscape
[1200 - 1800px]:  Is where our styles apply
1800px +:  Big Desktop

Breakpoints arguments choices:

- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
.cartItem {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .cartItem:hover {
    transform: translateY(-0.5rem) scale(1.03); }
  .cartItem__label:not(:last-child) {
    margin-bottom: 1rem; }
